body{
  height: 100vh;
  background-color: var(--grey-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--wrapper{
  display: flex;
  flex-direction: column;
  z-index: 10;

  position: absolute;
  width: 90%;
  height: 95%;

  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
  margin: 0 auto;
}

.modal--title{
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 28px;
  border-radius: 8px 8px 0px 0px;
  background-color: var(--grey-1);
}

span{
  display: flex;
  justify-content: center;
}

#submitProductInfo, 
#saveProductChange, 
#deleteProduct{
  background-color: var(--color-primary);
  color: var(--grey-1);

  margin: 20px 10px 0 10px;
  padding: 15px 20px;
  border-radius: 32px;
  border: 1.5px solid var(--color-primary);

  font-family: var(--font-secondary);
  font-weight: var(--font-semi-bold);
  font-size: var(--big-font-size);

  cursor: pointer;
}

#submitProductInfo{
  align-self: center;
}

#deleteProduct{
  background-color: var(--grey-1);
  border: 1.5px solid var(--grey-1);
  color: var(--grey-3);
}

.modal--wrapper > form{
  display: flex;
  flex-direction: column;

  font-family: var(--font-secondary);
  font-size: var(--normal-font-size);
}

.modal--wrapper > form > textarea{
  resize: none;
  overflow: hidden;
  font-family: var(--font-secondary);
  height: 100px;
}

.modal--wrapper > form > textarea::placeholder{
  font-size: var(--normal-font-size);
}

.modal--wrapper > form > input,
.modal--wrapper > form > textarea{
  border-radius: 12px;
  height: 2.25rem;
  background-color: var(--grey-1);
  border: 1.5px solid var(--grey-2);
  color: var(--grey-3);
  margin: 0 10px;
  padding: 15px;
}

.modal--wrapper > form > input:focus,
.modal--wrapper > form > textarea:focus{
  background-color: #fff;
  color: var(--grey-4);
}

.modal--wrapper > form > input::placeholder{
  font-size: var(--normal-font-size);
}

.category--button{
  background-color: var(--grey-1);
  border: 1.5px solid var(--grey-1);
  border-radius: 32px;
  padding: 11px 10px;

  color: var(--grey-3);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);

  cursor: pointer;
}

.category--button:focus{
  background-color: var(--color-primary);
  color: var(--grey-1);
}

.active{
  background-color: var(--color-primary);
  color: var(--grey-1);
}

label{
  padding: 10px 15px;
}

.hidden{
  display: none;
}

.wrong--price{
  color: var(--color-primary);
  margin:3px 20px 10px;
}

@media screen and (min-width: 768px){
  .modal--wrapper{
    width: 60%;
    height: 90%;
  }

  .modal--wrapper > form > input,
  .modal--wrapper > form > textarea{
    margin: 10px 15px 20px;
    height: 3rem;
  }

  .modal--wrapper > form > input:nth-child(4){
    height: 5rem;
  }

  .category--button{
    margin-top: 10px;
  }

  #submitProductInfo,
  #saveProductChange, 
  #deleteProduct{
    width: 200px;
    height: 52px;
    margin: 0 20px;
  }
}

@media screen and (min-width: 1024px){
  .modal--wrapper{
    height: 90%;
    width: 40%;
  }

  .modal--wrapper > form > input,
  .modal--wrapper > form > textarea{
    margin: 0px 30px 10px;
  }

  label, 
  #submitProductInfo,
  #saveProductChange, 
  #deleteProduct{
    margin: 0 30px;
  }

  #submitProductInfo,
  #saveProductChange, 
  #deleteProduct{
  width: 240px;
  height: 52px;
  }

  .wrong--price{
    margin:0px 35px 10px;
  }
}

@media screen and (min-width: 1440px) {
  .modal--wrapper > form > input,
  .modal--wrapper > form > textarea{
    margin: 0px 30px 20px;
  }

  #submitProductInfo,
  #saveProductChange, 
  #deleteProduct{
    margin-top: 30px;
  }
}