*{
    box-sizing: border-box;
}

*{
    scrollbar-width: thin;
    scrollbar-color: #FFE9EE #FFFFFF;
}
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: #FFFFFF;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #FFE9EE;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;

    overflow: hidden;
}

.header{
    width: 100%;
    height: auto;
    padding: 21px 18px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.header--logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 21.6949px;
    line-height: 33px;
    color: #212529;
}

.header--logo span{
    font-size: 16.2712px;
    line-height: 24px;
    color: #FF2253;
}

.header div{
    width: 100%;
    max-width: 342px;

    margin-top: 36px;
    position: relative;
}

.header--search{
    width: 100%;
    height: 49px;
    padding: 15px 18px 15px 48px;

    background-color: #E9ECEF;
    border: 1.5px solid #E9ECEF;
    border-radius: 12px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #868E96;
}

.header--search:focus{
    background-color: #F8F9FA;
    outline: 1.5px solid #212529;
}

.header--ico{
    font-family: FontAwesome;
    position: absolute;
    z-index: 10;
    height: 16px;

    top: 17px;
    left: 16px;
}

.header--ico::before{
    content: "\f002";
    color: #868E96;
}

.container{
    width: 100%;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-x: auto;
}

.main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.filtersContainer{
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #212529;

    margin-bottom: 30px;
}

.filters{
    height: 48px;
    padding: 15px 20px;


    background-color: #FFF7F4;
    border: 1.5px solid #FFF7F4;
    border-radius: 32px;

    margin-right: 22px;
}

.filters:nth-child(2){
    width: 170px;
}

.filters--all{
    width: 88px;
    height: 48px;

    background-color: #FF2253;
    border-color: #FF2253;
    border-radius: 30px;
    color: #F8F9FA;
}

.filters--bread, .filters--fruits, .filters--drinks{
    margin-right: 16px;
}

.filters--bread::before, .filters--fruits::before, .filters--drinks::before{
    font-family: FontAwesome;
    content: "\f7ec";
    color: #D48A15;
}

.filters--fruits::before{
    content: "\f5d1";
    color: #92BC1B;
}

.filters--drinks::before{
    content: "\f57b";
    color: #A91A13;
}

.filters:last-child{
    margin-right: 0;
}

.cartMobileButton{
    width: 100%;
    height: 60px;
    background-color: #FF2253;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 17.1px;
    line-height: 28px;
    color: #FFFFFF;
}
.modal-father{
    width: 100%;
    height: 100%;
    background-color: #212529;
    z-index: 2000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-cart{
    background-color: #FF2253;
    border-radius:  15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 80px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.btn-close{
    background-color: #FF2253;
    color: white;
    font-size: 18px;
}
#icon-cart{
    font-size: 45px;
}
.section-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    width: 400px;
    height: 400px;
    color: #868E96;
    gap: 25px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.cartMobileButton--ico::before{
    font-family: FontAwesome;
    content: "\f217";
    margin-right: 21px;
}

.asideCart{
    width: 100%;
    max-width: 350px;
    display: none;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 100%;
    max-height: 583px;
}

.headAsideCart{
    background-color: #FF2253;
    border-radius:  15px 15px 0px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 70px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    gap: 18px;
    padding-left: 35px;
}
#icon-cartAside{
    font-size: 40px;
}
.section-itensAside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 350px;
    height: calc(100% - 70px);
    color: #868E96;
    gap: 25px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    overflow-y: auto;
}

.showcase{
    height: calc(100vh - 300px);
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
}

.showcase--card{
    width: 303px;
    height: 397px;
    padding: 10px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 50px;
    margin-right: 13px;
}

.showcase--card:hover{
    box-shadow: 0px 5px 15px #FF2253;
    font-size: 2rem !important;
}

.showcase--card:hover .card--description{
    color: #212529;
}

.showcase--card:hover img{
    border-color: #FF2253;
}

.showcase--card:hover .card--description::-webkit-scrollbar-thumb {
    background-color: #FF2253;
  }

.card--imgContainer{
    width: 100%;
    height: 200px;


    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--imgContainer img{
    width: 100%;
    height: 100%;
    border: 3px solid #FFE9EE;
    border-radius: 8px;
    object-fit: cover;
}

.card--title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #000000;

    margin-top: 24px;
    margin-bottom: 16px;
}

.card--description, .card--tag{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
}

.card--description{
    max-height: 64px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #FFE9EE #FFFFFF;

    margin-bottom: 20px;
}
  
  /* Works on Chrome, Edge, and Safari */
  .card--description::-webkit-scrollbar {
    width: 6px;
  }
  
  .card--description::-webkit-scrollbar-track {
    background: #FFFFFF;
  }
  
  .card--description::-webkit-scrollbar-thumb {
    background-color: #FFE9EE;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
  }

.card--tagContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card--tag{
    font-size: 12px;
    line-height: 16px;
    margin-right: 19px;
}

.card--tag:last-child{
    margin-right: 0px;
}

.card--divContainer{
    width: 100%;
    padding-right: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card--price{
    min-height: 38px;
    height: 38px !important;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #212529;
}

.card--addCart{
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: #E4F7EF;

    font-family: FontAwesome;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    color: #0CA678;
}

.card--addCart::after{
    content: '\f217';
}

.card--addCart:hover{
    cursor: pointer;
    font-size: 14px;
    background-color: #0CA678;
    color: #FFFFFF;
}

.cart--card{
    width: 100%;
    height: auto;
    padding: 19px 11px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Poppins', sans-serif;
}

.cart--card--imgContainer{
    width: 75.47px;
    height: 75.47px;

    margin-right: 12.9px;
}

.cart--card--imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart--card--infosContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-right: 19px;
}

.cart--card--title{
    width: 195px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: left;

    margin-bottom: 12.5px;
}

.cart--card--category{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #868E96;

    margin-bottom: 7.88px;
}

.cart--card--price{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #212529;
}

.cart--card--removeContainer{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cart--card--removeCart{
    width: 26.95px;
    height: 26.95px;

    background-color: #F8F9FA;
    border-radius: 4.3125px;
    border: 1px solid #F8F9FA;
    color: #868E96;
}

.cart--card--removeCart::before{
    font-family: FontAwesome;
    content: "\f1f8";
}

.cart--card--removeCart:hover{
    cursor: pointer;
    background-color: #FF2253;
    color: #FFFFFF !important;
    border-color: #FFFFFF;
}

.infosCart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.infosCart--quantityContainer, .infosCart--totalContainer{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 62.53px;
    background-color: #F8F9FA;
}

.infosCart--totalContainer{
    height: 62.53px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 12px 12px;
}

.infosCart__displayNone{
    display: none;
}

.cartEmpty{
    justify-content: center;
    align-items: center;

    border-radius: 0px 0px 15px 15px;
}

aside:hover .section-itensAside::-webkit-scrollbar-thumb{
    background-color: #FF2253 !important;
}

.backBlur{
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 99;
    backdrop-filter: brightness(0.5);
}

.cartMobile{
    position: absolute;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    z-index: 100;
    top: 0;
    margin-top: 2vh;
    height: 80vh;
    display: block;
}

@media screen and (min-width: 500px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header div{
        margin-top: 0px;
    }

    .showcase{
        height: calc(100vh - 230px);
    }
}

@media screen and (min-width: 1024px) {
    .header{
        padding-left: 117px;
        padding-right: 117px;
    }

    .cartMobileButton{
        display: none;
    }

    .asideCart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filtersContainer{
        width: 100%;
        padding-left: 117px;
        padding-right: 117px;
    }

    .container{
        justify-content: center;
        align-items: center;

        padding-left: 0px;
    }

    .main{
        width: 80%;
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        height: calc(100vh - 169px);
    }

    .showcase{
        padding-left: 20px;
        padding-top: 20px;
        max-width: 1000px;

        flex-wrap: wrap;
        margin-right: 0;

        width: 1000px;

        margin-right: 67px;
        overflow-y: auto;
    }
}