body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;

    overflow: hidden;
}

.header{
    width: 100%;
    height: auto;
    padding: 21px 18px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.header--logo{
    font-family: var(--body-font);
    font-weight: var(--font-bold);
    font-size: 1.4rem;
    line-height: 33px;
    color: var(--grey-4);
}

.header--logo span{
    font-size: 16.2712px;
    line-height: 24px;
    color: var(--color-primary);
}

.header div{
    width: 100%;
    max-width: 342px;

    margin-top: 36px;
    position: relative;
}

.header--search{
    width: 100%;
    height: 49px;
    padding: 15px 18px 15px 48px;

    background-color: var(--grey-2);
    border: 1.5px solid  var(--grey-2);
    border-radius: 12px;

    font-family: var(--font-secondary);
    font-weight: var(--font-regular);
    font-size: var(--big-font-size);
    line-height: 19px;
    color: var(--grey-3);
}

.header--search:focus{
    background-color: var(--grey-1);
    outline: 1.5px solid var(--grey-4);
}

.header--ico{
    font-family: FontAwesome;
    position: absolute;
    z-index: 1;
    height: 16px;

    top: 17px;
    left: 16px;
}

.header--ico::before{
    content: "\f002";
    color: var(--grey-3);
}

.header img{
    position: absolute;
    right: 0px;
    top: -70px;
    width: 35px;
}

main{
    width: 100vw;
    overflow-x: auto;
    padding-left: 18px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
}

.buttonsContainer{

    margin-top: 5px;
  
    height: auto;
    padding: 21px 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filtersContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
    line-height: 19px;
    text-align: center;
    color: var(--grey-4);
}

.filters{
    height: 48px;
    padding: 15px 20px;

    background-color: var(--product-2);
    border: 1.5px solid var(--product-2);
    border-radius: 32px;

    margin-right: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filters:nth-child(2){
    width: 170px;
}


.filters--all{
    width: 88px;
    height: 48px;

    background-color: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: 30px;
    color: var(--grey-1);
}

.filters--bread, .filters--fruits, .filters--drinks{
    margin-right: 16px;
}

.filters--bread::before, .filters--fruits::before, .filters--drinks::before{
    font-family: FontAwesome;
    content: "\f7ec";
    color: #D48A15;
}

.filters--fruits::before{
    content: "\f5d1";
    color: #92BC1B;
}

.filters--drinks::before{
    content: "\f57b";
    color: #A91A13;
}

.filters:last-child{
    margin-right: 0;
}

button:hover{
    cursor: pointer;
}

.filters:focus{
    background-color: var(--color-primary);
    color: #FFFFFF
}

.buttons--addProduct{
    width: 217px;
    height: 48px;
    background-color: var(--grey-1);
    color: var(--grey-4);
    font-size: var(--big-font-size);
    font-family: var(--font-secondary);
    border: 1.5px solid var(--grey-1);
    border-radius: 32px;

    margin-bottom: 20px;
}

.buttons--addProduct:hover{
    background-color: #FF2253;
    border-color: #FF2253;
    color: #F8F9FA;
}

button:hover{
    cursor: pointer;
}

td, th{
    padding: 20px;
}

.rowBody{
    border: 1px solid var(--grey-2);
}

.table{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    height: 100vh;
    overflow-y: auto;
}

.headTable-product{
    color: var(--grey-3);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-regular);
}
.img--name{
    color: var(--grey-4);
    font-family: var(--body-font);
    font-weight: var(--font-regular);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.img--products{
    width: 32px;
    height: 32px;
    border-radius: 150px;
}
.tableTd{
    color: var(--grey-3);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-regular);
}
td{
    vertical-align: middle;
}
.icon{
    background-color: var(--grey-1);
    border: none;
    color: var(--grey-3);
    cursor: pointer;
}

#editProductForm{
    padding-bottom: 10px;
}

@media screen and (min-width: 760px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header div{
        margin-top: 0px;
    }

    .buttonsContainer{
        width: 100%;
        height: auto;
        padding: 21px 18px;
    
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .header div{
        padding-right: 58px;
    }

    .header img{
        position: absolute;
        left: calc(100% - 36px);
        top: 5px;
    }
    
}

@media screen and (min-width: 1024px) {
    .header, .buttonsContainer{
        padding-left: 117px;
        padding-right: 117px;
    }

    .table{
        width: 100%;
        height: 60vh;
        overflow-y: auto;
    }

}